:root {
    --Raleway : "Raleway", sans-serif;
    --Bebas : "Bebas Neue", sans-serif;
    --bgColor : #f4f2e2;
    --btnStroke : #1b48ba;
    --btnColor : #0c008e;
    --pTextColor: #9C9C9C;
    --bgHeader : #1B1B1B;
}